@font-face {
    font-family: "Shapiro Feather";
    src: url('OGJ Type Design - Shapiro 35 Feather Text.otf');
}
@font-face {
    font-family: "Shapiro Light";
    src: url('OGJ Type Design - Shapiro 5 Light Fly.otf');
}
@font-face {
    font-family: "Shapiro air";
    src:url('OGJ Type Design - Shapiro 97 Air Extd.otf');
}